.idea/
.DS_Store
zenml_env*/
data/processed
data/raw
data/test/
data/train/
*.pyc
*__pycache__*
mlruns/
*.env
hyperband_tuner*/
.streamlit/secrets.toml
zenml_stack_recipes/
frontend/node_modules
backend/node_modules