numpy
pandas
zenml
mlflow
pytest
Pillow
tensorflow
mlflow
scikit-learn
torchvision
deepchecks
s3fs
datetime
ultralytics
opencv-python-headless
matplotlib
# Visualization / App
streamlit
seaborn
matplotlib

# Utilities
pyyaml
joblib